<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Todo list</title>
    <link rel="stylesheet" href="css/style.css">
</head>

<body>
    <div class="box">
        <h1>TODO LIST</h1>
    </div>
    <div class="box">
        <% dayej.forEach(function(item){ %>
            <form action="/delete" method="post">
            <div class="item">
                <input type="checkbox" name="checkbox1" value="<%= item._id %>" onchange="this.form.submit()">
                <p><%= item.name%></p>
            </div>
        </form>
        <%}) %>
        <form action="/" method="post">
            <input type="text" name="todo" id="input-box" placeholder="Add a new todo">
            <button type="submit">+</button>
        </form>
    </div>
</body>

</html>